a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

h2 {
  font-family: Arial, Verdana;
  font-weight: 800;
  font-size: 2.5rem;
  color: #091f2f;
  text-transform: uppercase;
}