<div class="d-flex justify-content-center my-5" id="download">
    <div class="col col-lg-5 bg-white sp-3 mb-5">
        <button type="button"  onclick="window.location='http://localhost:8080/login'" class="btn btn-outline-success btn-lg btn-block">Login & Download v1.0.0 <span class="text-warning">beta</span></button>
        <button type="button"  onclick="window.location='http://localhost:8080/register'" class="btn btn-outline-secondary btn-lg btn-block">Register</button>
    </div>
</div>

<div class="d-flex justify-content-center my-5" id="info-content">
    <div class="col col-lg-9 bg-white border-dark rounded shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Effectiv against:</h1>
        <div class="my-5 mx-5">
            <div class="media d-block d-md-flex mt-4">
                <img width="200" height="133" class="d-flex mb-3 mx-auto media-image z-depth-1"
                     src="./static/css/petya.jpg"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Petya</h5>
                    Petya is a family of encrypting ransomware that was first discovered in 2016. The malware targets
                    Microsoft Windows–based systems, infecting the master boot record to execute a payload that encrypts
                    a hard drive's file system table and prevents Windows from booting. It subsequently demands that the
                    user make a payment in Bitcoin in order to regain access to the system.

                    <div class="media d-block d-md-flex mt-3">
                        <img width="200" height="133" class="d-flex mb-3 mx-auto media-image z-depth-1"
                             src="./static/css/jigsaw.jpg"
                             alt="Generic placeholder image">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h5 class="mt-0 font-weight-bold">Jigsaw</h5>
                            Jigsaw is a form of encrypting ransomware malware created in 2016. It was initially titled
                            "BitcoinBlackmailer" but later came to be known as Jigsaw due to featuring an image of Billy
                            the Puppet from the Saw film franchise. The malware encrypts computer files and gradually
                            deletes them unless a ransom is paid to decrypt the files.
                        </div>
                    </div>
                </div>
            </div>
            <div class="media d-block d-md-flex mt-3">
                <img width="200" height="133" class="d-flex mb-3 mx-auto media-image z-depth-1"
                     src="./static/css/wannacry.png"
                     alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">Wannacry</h5>
                    The WannaCry ransomware attack was a May 2017 worldwide cyberattack by the WannaCry ransomware
                    cryptoworm, which targeted computers running the Microsoft Windows operating system by encrypting
                    data and demanding ransom payments in the Bitcoin cryptocurrency. It propagated through EternalBlue,
                    an exploit developed by the United States National Security Agency (NSA) for older Windows systems.
                    EternalBlue was stolen and leaked by a group called The Shadow Brokers a few months prior to the
                    attack. While Microsoft had released patches previously to close the exploit, much of WannaCry's
                    spread was from organizations that had not applied these, or were using older Windows systems that
                    were past their end-of-life.

                    <div class="media d-block d-md-flex mt-3">
                        <img width="200" height="133" class="d-flex mb-3 mx-auto media-image z-depth-1"
                             src="./static/css/cerber.png"
                             alt="Generic placeholder image">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h5 class="mt-0 font-weight-bold">Cerber</h5>
                            Cerber is a ransomware trojan on Microsoft Windows that is spread via spam emails and
                            currently has 5 versions. The .DOCX file for Cerber arrives attached to an email message.
                            When the user opens the .DOCX, Cerber-ransomware-main-page-sensorstechforum
                            it shows a document with bad encoding and uses social enginerring to convince the user to
                            activate macros. After the user does, it auto-extracts the payload.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>And other unknoun threats!</h1>
    </div>
</div>

<div class="d-flex justify-content-center my-5">
    <div class="col col-lg-9 bg-white  border-dark rounded shadow-lg p-3 mb-5 bg-white rounded">
        <div class="my-5 mx-5">
            <ul class="list-unstyled">
                <li class="media">
                    <i class="fa fa-user fa-5x d-flex mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb-2 font-weight-bold">Anna Smith</h5>
                        <!--Review-->
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras purus
                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                            vulputate fringilla.
                            Donec lacinia congue felis in faucibus.</p>
                    </div>
                </li>
                <li class="media my-4">
                    <i class="fa fa-user fa-5x d-flex mr-3"></i>
                    <div class="media-body">
                        <h5 class="mt-0 mb-2 font-weight-bold">Tom Brown</h5>
                        <!--Review-->
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star blue-text"> </i>
                        <i class="fa fa-star grey-text"> </i>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            Cras purus
                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                            vulputate fringilla.
                            Donec lacinia congue felis in faucibus.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>