<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">About us</h5>
                <p>Cyber attacks are becoming more diverse and innovative, so we need customized solutions.The solution
                    envisages the protection of the user's files against malware software that has passed the undetected
                    scan stage. The objective of the application is to interfere with the natural flow of the attack and
                    to protect the file system by intercepting and rejecting the system calls that wish to modify the
                    files protected by the user. The file system added to the protection will remain unchanged
                    regardless of the state of the operating system.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Contact us</h5>

                <table class="table">

                    <tbody>
                    <tr>
                        <td>Email</td>
                        <td>voiculescuid@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td>0728204045</td>
                    </tr>
                    <tr>
                        <td>Social</td>
                        <!-- Facebook -->
                        <td>
                            <a href="https://facebook.com/"><i
                                    class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                            <a href="https://instagram.com/"><i
                                    class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                            <a href="https://www.whatsapp.com/"><i
                                    class="fa fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        </td>

                    </tr>
                    </tbody>
                </table>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <span class="text-primary">VOICULESCU Ion-Daniel</span>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->