<html lang="en" class="full-height">

<!--Main Navigation-->
<header>

    <nav class="navbar d-flex justify-content-around fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>Carillon</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" d-flex d-flex justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#info-content">Info</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="view h-100">
        <div class="full-bg-img h-100">
            <div class="container-fluid row justify-content-center align-middle h-100">
                <div class="col-10 text-center align-self-center text-light">
                    <h1>Carillon</h1>
                    <br>
                    <h3>ANTI-RANDOMWARE TOOL - <span class="text-warning">BETA</span></h3>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->
